h1 {
	text-align: center;
	font-size: 
}

body {
	margin-left: 30px;
	font-family: Helvetica;
	background-image: url(pics/bg.png);
}

#tab {
	text-align: center;
}

#tabdata {
	border: 2px #35363F dashed;
	max-width: 300px;
	background-color: #AA00FE;
	font-family: Arial;
	margin: 0 auto;
}

#bail{
	max-width: 711px;
	max-height: 400px;
	width: 100%
}

.tablepage {
	background-image: url(pics/bg.png);
	font-family: Arial;
	text-align: center;
	letter-spacing: 2px;
}

th {
	background-color: #0D00C3;
	color: white;
}

td, th {
	border-top: 1px solid gray;
	padding: 20px;
}

footer {
	text-align: center;
}

a:link { text-decoration: none; color: #FE0000; }
a:hover { text-decoration: underline; color: #1E34FE; }
a:visited { color: #00FE2A; }

@media only screen and (max-width: 500px) {
	body {
		font-size: 75%
	}
}

@media only screen and (max-width: 280px){
	body{
		font-size: 50%
	}
}

@media only screen and (max-width: 815px){
	.tablepage {
		font-size: 75%;
	}
}